/* ___________________________________________________________________ */
/* Style for homepage center section */
.center-section {
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(61, 9, 7, 1) 100%
  );
  overflow: auto;
}

h2 {
  color: white;
}

h5 {
  margin: 0 !important;
}

.center-nav-bar {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns-prev-next {
  align-self: start;
  display: flex;
  align-items: start;
}

.btns-prev-next img {
  padding-right: 1.5rem;
  cursor: pointer;
}

.px-35 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.good-morning-cards {
  height: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0.185);
  color: white;
  transition: all 0.2s ease-in-out;
}

.good-morning-cards:hover {
  background-color: rgba(255, 255, 255, 0.274);
}
.good-morning-cards img {
  height: 60px;
  width: 60px;
}

.good-morning-cards h5 {
  font-size: 10px;
}

.good-morning-card-body > .card-body {
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.recently-played-cards {
  border: none;
  background-color: #181818;
  color: white;
  height: 250px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.recently-played-cards:hover {
  background: linear-gradient(
    0deg,
    rgba(40, 40, 40, 1) 0%,
    rgba(40, 40, 40, 0.4808517156862745) 100%
  );
}

.recently-played-cards img {
  height: 150px;
  object-fit: cover;
}

.recently-played-cards > .card-body {
  padding: 0;
}

.recently-played-cards p {
  font-size: 12px;
  text-align: center;
  padding: 10px;
}

.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* ______________________________________________________________________ */

/* ..........................Search Page.......................... */

.search-bar {
  background-color: white;
  color: black;
  height: 80%;
  width: 450px;
  margin-right: auto;
  padding-inline: 10px;
  border-radius: 20px;
  display: flex;
}

input {
  width: 300px;
  border: none;
  padding-left: 10px;
}

input:focus {
  outline: none;
}

/* ............................................................... */

.scroll-bar {
  overflow: auto;

  height: 90vh;
  background: linear-gradient(#5a1212, #0a0a0a);
}

.user-name-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  width: 120px;
  height: 30px;
  padding: 0.4em;
  border-radius: 30px;
  cursor: pointer;
}

.user-name-text {
  font-size: 0.7rem;
}

.btn-prev,
.btn-next {
  cursor: pointer;
  padding-right: 1rem;
}

.img-btn {
  height: 22px;
}
.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 3px;
}

.icons-after-banner {
  font-size: 30px;
}
.green-player-btn {
  width: 50px;
  height: 50px;
  color: white;
  background-color: green;
  border-radius: 50%;
}

.heart,
.dots {
  color: white;
}

.info-list-paragraph {
  margin: 0;
}

/*li {
  list-style: none;
  font-size: 0.9rem;
}*/

/* SCROLLBAR STYLES*/
/* ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(220, 220, 220, 0.5);
} */

.background {
  background-image: url(https://www.ilikeyouroldstuff.com/sites/g/files/g2000009801/files/inline-images/green-day-1994.jpg);
  height: 20rem;
  background-size: cover;
  background-position-y: 9%;
}

.artist-info > p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: bold;
}
.banner-artist {
  height: 16rem;
}

.title-artist {
  font-size: 5rem;
}

.verified-icon {
  color: rgb(11, 99, 230);
}

.follow {
  font-size: 0.7rem;
  font-weight: bold;
  border: 1px solid white;
  padding: 8px;
  height: 100%;
}

h1 {
  color: brown;
}

.left-nav {
  width: 15vw;
  height: 90vh;
  background-color: #121212;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #847e82;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.left-nav a {
  text-decoration: none;
  color: inherit;
}

.left-nav a:hover {
  color: white;
}

.left-nav ul {
  margin: 0;
  padding: 0;
}

.left-nav li {
  list-style-type: none;
}

.nav-pages li,
.nav-extra li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.nav-pages li:hover,
.nav-extra li:hover {
  transform: scale(1.035);
}

.nav-playlist li {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.logo img {
  width: 60%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.selected {
  background-color: #282828;
  color: white;
  border-radius: 5px;
}

.center-section {
  width: 85%;
  height: 90vh;
  background-color: bisque;
}

.now-playing {
  height: 10vh;
  background-color: #181818;
  color: #847e82;
  position: relative;
}

.mini-song-album img {
  height: 50px;
  border-radius: 3px;
}

.song-info p {
  margin: 0;
}

.song-title {
  color: white;
}

.add-to-favorites,
.change-display {
  transition: transform 0.2s ease-in-out;
}

.add-to-favorites:hover,
.change-display:hover {
  transform: scale(1.1);
  color: white;
  cursor: pointer;
}

.song-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
}

.shuffle-button,
.skip-left-button,
.skip-right-button,
.repeat-button {
  transition: transform 0.2s ease-in-out;
}

.shuffle-button:hover,
.skip-left-button:hover,
.skip-right-button:hover,
.repeat-button:hover {
  transform: scale(1.1);
  color: white;
  cursor: pointer;
}

.play-button {
  border-radius: 50%;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.play-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.progress {
  height: 5px;
  width: 450px;
  background-color: #847e82;
  position: relative;
}

.progress-white {
  height: 5px;
  width: 50px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  transform: translateX(47px);
}

.song-duration {
  transition: transform 0.2s ease-in-out;
}

.song-duration:hover {
  cursor: pointer;
  transform: scale(1.035);
}

.playlist-button {
  transition: transform 0.2s ease-in-out;
}

.playlist-button:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

.pc-button {
  transition: transform 0.2s ease-in-out;
}

.pc-button:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

.volume-button {
  transition: transform 0.2s ease-in-out;
}

.volume-button:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

.volume-control {
  transition: transform 0.2s ease-in-out;
}

.volume-control:hover {
  cursor: pointer;
  transform: scale(1.035);
}

.volume-level {
  height: 5px;
  width: 100px;
  background-color: #847e82;
  border-radius: 5px;
  position: relative;
}

.volume-level-white {
  height: 5px;
  width: 50px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  transform: translateX(34px);
  transform: translateY(-5px);
}

.mr-45 {
  margin-right: 2rem;
}
